astral==1.6.1
certifi==2018.4.16
chardet==3.0.4
idna==2.7
pyserial==3.4
pytz==2018.5
requests>=2.20.0
urllib3==1.23
click==6.7
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
passlib==1.7.1
PyJWT==1.6.4
schema==0.6.8
SQLAlchemy==1.2.10
Werkzeug==0.14.1
gunicorn==19.9.0
