<!DOCTYPE html>
<html dir="ltr" lang="pl">

<head>
    {%  include 'shared/head.html' %}
</head>
<body>
    {#%  include 'shared/preloader.html' %#}
    <div id="main-wrapper">
        <div id="page-wrapper" style="width: 100%;">
            <div id="page-container" style="height: 80%">
                <div class="form-body card" >
                    <form action="post" class="form">
                        <div class="form-group">
                            <div class="form-icon" style="background: #28B779"><i class="mdi mdi-account-key"></i></div>
                            <input type="text" class="form-control" name="login" placeholder="Login" required>
                        </div>
                        <div class="form-group">
                            <div class="form-icon" style="background: #FFB848"><i class="mdi mdi-pencil-lock"></i></div>
                            <input type="password" class="form-control" name="password" placeholder="Hasło" required>
                        </div>
                     <hr class="form-line">
                        <div class="form-button-container">
                            <button type="submit" class="btn btn-primary form-button">Zaloguj</button>
                        </div>
                    </form>
                </div>
            </div>
          {% include 'shared/footer.html' %}
        </div>
    </div>

    <script src="/static/assets/libs/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/libs/popper/umd/popper.min.js"></script>
    <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/assets/libs/toastr/toastr.min.js"></script>
    <script src="/static/js/pages/auth/login.js"></script>
</body>
</html>
