<script>
$(document).ready(function () {
    backToTab({{ page_model['tabs']|safe }})
});
</script>
<div id="page-breadcrumb">
    <h4 class="page-title">{{ page_model['page_name'] }}</h4>
    <div class="tabs-group">
    {% for tab in page_model['tabs'] %}
        <div id="tab-button{{ loop.index }}" class="tab-button {% if loop.index == page_model['active_tab'] %}tab-button-active{% endif %}" onclick="changeTab({{ loop.index }}, {{ "'" + tab["url"] + "'" }})">{{ tab['name'] }}</div>
    {% endfor %}
    </div>
    <ol id="breadcrumb">
        {% for page in page_model['breadcrumb'][:-1] %}
            <li class="breadcrumb-item"><a href="{{ page['href'] }}">{{ page['name'] }}</a></li>
        {% endfor %}
        <li class="breadcrumb-item active">{{ page_model['breadcrumb'][-1]['name'] }}</li>
    </ol>
</div>