<div id="sidebar">
    {% include 'shared/logo.html' %}
    <nav id="navbar2">
        <ul id="navbar">
            <li class="navbar-item"> <a class="navbar-link" href="/home" aria-expanded="false"><div class="navbar-icon" ><i class="mdi mdi-view-dashboard"></i></div><span class="navbar-text">Strona Główna</span></a></li>
            <li class="navbar-item"> <a class="navbar-link" href="/energy" aria-expanded="false"><div class="navbar-icon" ><i class="fas fa-bolt"></i></div><span class="navbar-text">Energia</span></a></li>
            <li class="navbar-item"> <a class="navbar-link" href="/blinds" aria-expanded="false"><div class="navbar-icon" ><i class="mdi mdi-blinds"></i></div><span class="navbar-text">Rolety</span></a></li>
            <li class="navbar-item"> <a class="navbar-link" href="/meteo" aria-expanded="false"><div class="navbar-icon" ><i class="mdi mdi-thermometer-lines"></i></div><span class="navbar-text">Stacja meteo</span></a></li>
        </ul>
    </nav>
</div>
