<header id="topbar">
    <div class="toogle-menu"><i class="mdi mdi-menu"></i></div>
    {% if page_model['user']['role'] == 'admin' %}
        <a href="/admin" class="admin-panel-button">Panel administracyjny</a>
    {% endif %}
    <div id="user-icon" class="user-icon">
        <div class="user-menu">
            <a href="users">
                 <div class="user-menu-item">
                     <i class="mdi mdi-account-settings-variant"></i>
                     Ustawienia
                 </div>
            </a>
             <a href="\auth\logout">
                 <div class="user-menu-item">
                     <i class="mdi mdi-logout"></i>
                     Wyloguj
                 </div>
            </a>
        </div>
    </div>
</header>
