<!DOCTYPE html>
<html dir="ltr" lang="pl">

<head>
    {%  include 'shared/head.html' %}
</head>
<body>
    {#%  include 'shared/preloader.html' %#}
    <div id="main-wrapper">
        {% include 'shared/sidebar.html' %}
        <div id="page-wrapper">
            {% include 'shared/topbar.html' %}
            {% include 'shared/breadcrumb.html' %}
            <div id="page-container">
                <div class="panel" style="background: #28B779;">
                    <a href="auth/register">
                        <div class="panel-icon"><i class="mdi mdi-account-plus"></i></div>
                        <div class="panel-title">Rejestracja</div>
                    </a>
                </div>
            </div>
            {% include 'shared/footer.html' %}
        </div>
    </div>


    <script src="/static/assets/libs/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/libs/popper/umd/popper.min.js"></script>
    <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/start.js"></script>
</body>
</html>