<!DOCTYPE html>
<html dir="ltr" lang="pl">

<head>
    {%  include 'shared/head.html' %}
</head>
<body>
    {#%  include 'shared/preloader.html' %#}
    <div id="main-wrapper">
        {% include 'shared/sidebar.html' %}
        <div id="page-wrapper">
            {% include 'shared/topbar.html' %}
            {% include 'shared/breadcrumb.html' %}
            <div id="page-container">
                <fieldset class="card-peity-fieldset">
                    <legend class="card-peity-legend">Produkcja</legend>
                    <div class="card-peity-row">
                        <div class="card card-peity">
                            <div class="card-peity-title">Moc aktualna</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span id="production_current_peity" class="peity-donut-green">0/4000</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="production_current" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[W]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Moc maksymalna</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span id="production_max_peity" class="peity-donut-green">0/4000</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="production_max" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[W]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Moc średnia</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span id="production_average_peity" class="peity-donut-green">0/4000</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="production_average" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[W]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Energia</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span class="peity-bar-green">0,0,0,0,0</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="production_energy" class="card-peity-number">0.00</div>
                                    <div class="card-peity-unit">[kWh]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="card-peity-fieldset">
                    <legend class="card-peity-legend">Zużycie</legend>
                    <div class="card-peity-row">
                        <div class="card card-peity">
                            <div class="card-peity-title">Moc aktualna</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span id="consumption_current_peity" class="peity-donut-red">0/4000</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="consumption_current" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[W]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Moc maksymalna</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span id="consumption_max_peity" class="peity-donut-red">0/4000</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="consumption_max" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[W]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Moc średnia</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span id="consumption_average_peity" class="peity-donut-red">0/4000</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="consumption_average" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[W]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Energia</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span class="peity-bar-red">0,0,0,0,0</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="consumption_energy" class="card-peity-number">0.00</div>
                                    <div class="card-peity-unit">[kWh]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="card-peity-fieldset">
                    <legend class="card-peity-legend">Podsumowanie</legend>
                    <div class="card-peity-row">
                        <div class="card card-peity">
                            <div class="card-peity-title">Moc wykorzystywana</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span id="summary_power_use_peity" class="peity-donut-orange">0/4000</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="summary_power_use" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[W]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Moc pobierana</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span id="summary_power_import_peity" class="peity-donut-orange">0/4000</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="summary_power_import" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[W]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Moc oddawana</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span id="summary_power_export_peity" class="peity-donut-orange">0/4000</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="summary_power_export" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[W]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Moc magazynowana</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span id="summary_power_store_peity" class="peity-donut-orange">0/4000</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="summary_power_store" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[W]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Energia wykorzystana</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span class="peity-bar-orange">0,0,0,0,0</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="summary_energy_use" class="card-peity-number">0.00</div>
                                    <div class="card-peity-unit">[kWH]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Energia pobrana</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span class="peity-bar-orange">0,0,0,0,0</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="summary_energy_import" class="card-peity-number">0.00</div>
                                    <div class="card-peity-unit">[kWh]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Energia oddana</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span class="peity-bar-orange">0,0,0,0,0</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="summary_energy_export" class="card-peity-number">0.00</div>
                                    <div class="card-peity-unit">[kWh]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Energia zmagazynowana</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                    <span class="peity-bar-orange">0,0,0,0,0</span>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="summary_energy_store" class="card-peity-number">0.00</div>
                                    <div class="card-peity-unit">[kWh]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            {#% include 'shared/footer.html' %#}
        </div>
    </div>


    <script type="text/javascript" src="/static/assets/libs/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/popper/umd/popper.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/Chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/jquery.peity/jquery.peity.min.js"></script>
    <script type="text/javascript" src="/static/js/start.js"></script>
    <script type="text/javascript" src="/static/js/pages/energy/energy-charts.js"></script>
    <script type="text/javascript">
    </script>

</body>
</html>
