<!DOCTYPE html>
<html dir="ltr" lang="pl">

<head>
    {%  include 'shared/head.html' %}
    <script type="text/javascript">
        $(document).ready( function () {
            $("#gate_action_open" ).click(function() {
                $.ajax({
                    url: "gateOpen",
                    type: "POST",
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (response) {
                    },
                    error: function (response) {
                        toastr[response.responseJSON.status](response.responseJSON.message, "Nie wykonano zadania");
                    }
                });
            });
        });
    </script>
</head>
<body>
    {#%  include 'shared/preloader.html' %#}
    <div id="main-wrapper">
        {% include 'shared/sidebar.html' %}
        <div id="page-wrapper">
            {% include 'shared/topbar.html' %}
            {% include 'shared/breadcrumb.html' %}
            <div id="page-container">
                <fieldset class="card-peity-fieldset" style="margin-top: -20px;">
                    <legend class="card-peity-legend">Energia</legend>
                    <div class="card-peity-row" style="width: 700px;">
                        <div class="card card-peity">
                            <div class="card-peity-title">Dzienna produkcja</div>
                            <div class="card-peity-body">
                                <div class="card-peity-number">{{ '%0.2f'| format(data_model['energy']['daily_prod']|float) }} kWh</div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Dzienne zużycie</div>
                            <div class="card-peity-body">
                                <div class="card-peity-number">{{ '%0.2f'| format(data_model['energy']['daily_cons']|float) }} kWh</div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Całkowity bilans</div>
                            <div class="card-peity-body">
                                <div class="card-peity-number">{{ '%0.2f'| format(data_model['energy']['total_balance']|float) }} kWh</div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            {% include 'shared/footer.html' %}
        </div>
    </div>
</body>
</html>