<div id="page-breadcrumb">
    <h4 class="page-title">{{ page_model['page_name'] }}</h4>
    <div class="tabs-group">
    {% for tab in page_model['tabs'] %}
        {% if loop.index == 1 %}
            <div id="tab-button{{ loop.index }}" class="tab-button tab-button-active" onclick="changeTab({{ loop.index }})">{{ tab }}</div>
        {% else %}
            <div id="tab-button{{ loop.index }}" class="tab-button" onclick="changeTab({{ loop.index }})">{{ tab }}</div>
        {% endif %}
    {% endfor %}
    </div>
    <ol id="breadcrumb">
        {% for page in page_model['breadcrumb'][:-1] %}
            <li class="breadcrumb-item"><a href="{{ page['href'] }}">{{ page['name'] }}</a></li>
        {% endfor %}
        <li class="breadcrumb-item active">{{ page_model['breadcrumb'][-1]['name'] }}</li>
    </ol>
</div>