<!DOCTYPE html>
<html dir="ltr" lang="pl">

<head>
    {%  include 'shared/head.html' %}
</head>
<body>
    {#%  include 'shared/preloader.html' %#}
    <div id="main-wrapper">
        {% include 'shared/topbar.html' %}
        {% include 'shared/sidebar.html' %}
        <div class="page-wrapper">
            {#% include 'shared/breadcrumb.html' %#}
            <div class="container-fluid">

            </div>
            {#% include 'shared/footer.html' %#}
        </div>
    </div>


    <script src="../static/assets/libs/jquery/jquery-3.3.1.min.js"></script>
    <script src="../static/assets/libs/popper/umd/popper.min.js"></script>
    <script src="../static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/js/start.js"></script>
</body>
</html>