<!DOCTYPE html>
<html dir="ltr" lang="pl">

<head>
    {%  include 'shared/head.html' %}
</head>
<body>
    {#%  include 'shared/preloader.html' %#}
    <div id="main-wrapper">
        {% include 'shared/sidebar.html' %}
        <div id="page-wrapper">
            {% include 'shared/topbar.html' %}
            {% include 'shared/breadcrumb.html' %}
            <div id="page-container">
                <div class="form-body card" >
                    <form class="form">
                        <div class="form-group">
                            <div class="form-icon" style="background: #28B779"><i class="mdi mdi-account-key"></i></div>
                            <input type="text" pattern="[a-zA-Z0-9]{3,20}$" class="form-control" name="login" placeholder="Login" required title="Od 3 do 20 znaków alfanumerycznych.">
                        </div>
                        <div class="form-group">
                            <div class="form-icon" style="background: #DA542E"><i class="mdi mdi-account"></i></div>
                            <input type="text" pattern="[a-zA-Z0-9]{3,20}$" class="form-control" name="name" placeholder="Nazwa" required title="Od 3 do 20 znaków alfanumerycznych.">
                        </div>
                        <div class="form-group">
                            <div class="form-icon" style="background: #FFB848"><i class="mdi mdi-pencil-lock"></i></div>
                            <input type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[\S]{8,}$"  class="form-control" name="password" placeholder="Hasło" required title="Minimum 8 znaków.  Minimum jedna cyfra i litera.">
                        </div>
                         <div class="form-group">
                             <div class="form-icon" style="background: #2255A4"><i class="mdi mdi-pencil-lock"></i></div>
                            <input type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[\S]{8,}$"  class="form-control" name="repassword" placeholder="Powtórz hasło" required title="Minimum 8 znaków.  Minimum jedna cyfra i litera.">
                        </div>
                         <div class="form-group">
                             <div class="form-icon" style="background: #7742f4;"><i class="mdi mdi-account-star"></i></div>
                            <select class="form-control" style="height: 44px;" name="role" required>
                                <option value="" style="" disabled selected>Wybierz rolę</option>
                                <option value="admin">Administrator</option>
                                <option value="user">Użytkownik</option>
                                <option value="gueast">Gość</option>
                            </select>
                        </div>

                     <hr class="form-line">
                        <div class="form-button-container">
                            <button type="submit" class="btn btn-primary form-button" onclick="">Rejestruj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="../../static/assets/libs/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../static/assets/libs/popper/umd/popper.min.js"></script>
    <script src="../../static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../static/assets/libs/toastr/toastr.min.js"></script>
    <script src="../../static/js/pages/auth/register.js"></script>
    <script src="../../static/js/start.js"></script>
</body>
</html>