<!DOCTYPE html>
<html dir="ltr" lang="pl">

<head>
    {%  include 'shared/head.html' %}
    <script type="text/javascript" src="/static/js/pages/meteo/now.js"></script>
    <script type="text/javascript" src="/static/assets/libs/moment/moment-with-locales.js"></script>
    <script type="text/javascript" src="/static/assets/libs/datatimepicker/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="/static/js/history_picker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            update_data();
            createDatepicker("{{data_model['MIN_DATE'] }}");
            enablePickerNavigation();
        });
    </script>
</head>
<body>
    {#%  include 'shared/preloader.html' %#}
    <div id="main-wrapper">
        {% include 'shared/sidebar.html' %}
        <div id="page-wrapper">
            {% include 'shared/topbar.html' %}
            {% include 'shared/breadcrumb.html' %}
            <div id="page-container">
                <fieldset class="card-peity-fieldset" style="margin-top: -20px;">
                    <legend class="card-peity-legend">Aktualne wartości</legend>
                    <div class="card-peity-row" style="width: 700px;">
                      <div class="card card-peity">
                          <div class="card-peity-title">Temperatura</div>
                          <div class="card-peity-body">
                              <div class="card-peity-body-top">
                                <div id="temperature" class="card-peity-number card-change-indicator"></div>
                                <div id="change_temperature" class="change-indicator">
                                </div>
                              </div>
                              <div class="card-peity-body-bottom">
                                <div id="indicator_temperature" class="air-quality-text"></div>
                              </div>
                          </div>
                      </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Wilgotność</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-top">
                                  <div id="humidity" class="card-peity-number card-change-indicator"></div>
                                  <div id="change_humidity" class="change-indicator">
                                  </div>
                                </div>
                                <div class="card-peity-body-bottom">
                                  <div id="indicator_humidity" class="air-quality-text"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Ciśnienie</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-top">
                                  <div id="pressure" class="card-peity-number card-change-indicator"></div>
                                  <div id="change_pressure" class="change-indicator">
                                  </div>
                                </div>
                                <div class="card-peity-body-bottom">
                                  <div id="indicator_pressure" class="air-quality-text"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Pył PM1</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-top">
                                  <div id="dust_PM10" class="card-peity-number card-change-indicator"></div>
                                  <div id="change_dust_PM10" class="change-indicator">
                                  </div>
                                </div>
                                <div class="card-peity-body-bottom">
                                  <div id="indicator_dust_PM10" class="air-quality-text"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Pył PM2.5</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-top">
                                  <div id="dust_PM25" class="card-peity-number card-change-indicator"></div>
                                  <div id="change_dust_PM25" class="change-indicator">
                                  </div>
                                </div>
                                <div class="card-peity-body-bottom">
                                  <div id="indicator_dust_PM25" class="air-quality-text"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Pył PM10</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-top">
                                  <div id="dust_PM100" class="card-peity-number card-change-indicator"></div>
                                  <div id="change_dust_PM100" class="change-indicator">
                                  </div>
                                </div>
                                <div class="card-peity-body-bottom">
                                  <div id="indicator_dust_PM100" class="air-quality-text"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="card-peity-fieldset">
                    <legend class="card-peity-legend">Historia</legend>
                    <div style="display: flex; flex-flow: row wrap;">
                        <a href="/meteo/day" class="panel panel-small">
                            <div class="panel-title">Obecny dzień</div>
                       </a>
                       <a href="/meteo/month" class="panel panel-small">
                           <div class="panel-title">Obecny miesiąc</div>
                       </a>
                       <a href="/meteo/year" class="panel panel-small">
                           <div class="panel-title">Obecny rok</div>
                       </a>
                       <a href="/meteo/all" class="panel panel-small">
                           <div class="panel-title">Od początku</div>
                       </a>
                   </div>
                   <div style="display: flex; flex-flow: row nowrap;">
                       <div class="form-group">
                           <div class="input-group" id="datetimepicker-day" data-target-input="nearest">
                               <input id="energy-history-input-day" class="energy-history-input" type="text" data-target="#datetimepicker-day" style="display: none;"/>
                               <div class="input-group-append panel-static panel-small panel-datapicker" data-target="#datetimepicker-day" data-toggle="datetimepicker" onclick="pickerClick('day')">
                                   <div class="panel-title">Dzień</div>
                               </div>
                           </div>
                       </div>
                        <div class="form-group">
                           <div class="input-group" id="datetimepicker-month" data-target-input="nearest">
                               <input id="energy-history-input-month" class="energy-history-input" type="text" data-target="#datetimepicker-month" style="display: none;"/>
                               <div class="input-group-append panel-static panel-small panel-datapicker" data-target="#datetimepicker-month" data-toggle="datetimepicker" onclick="pickerClick('month')">
                                   <div class="panel-title">Miesiąc</div>
                               </div>
                           </div>
                       </div>
                        <div class="form-group">
                           <div class="input-group" id="datetimepicker-year" data-target-input="nearest">
                               <input id="energy-history-input-year" type="text" data-target="#datetimepicker-year" style="display: none;"/>
                               <div class="input-group-append panel-static panel-small panel-datapicker" data-target="#datetimepicker-year" data-toggle="datetimepicker" onclick="pickerClick('year')">
                                   <div class="panel-title">Rok</div>
                               </div>
                           </div>
                       </div>
                   </div>
                </fieldset>
            </div>
            {% include 'shared/footer.html' %}
        </div>
    </div>
</body>
</html>
