<!DOCTYPE html>
<html dir="ltr" lang="pl">

<head>
    {%  include 'shared/head.html' %}
    <script type="text/javascript" src="/static/js/pages/meteo/now.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            update_data();
        });
    </script>
</head>
<body>
    {#%  include 'shared/preloader.html' %#}
    <div id="main-wrapper">
        {% include 'shared/sidebar.html' %}
        <div id="page-wrapper">
            {% include 'shared/topbar.html' %}
            {% include 'shared/breadcrumb.html' %}
            <div id="page-container">
                <fieldset class="card-peity-fieldset" style="margin-top: -20px;">
                    <legend class="card-peity-legend">Aktualne wartości</legend>
                    <div class="card-peity-row" style="width: 700px;">
                        <div class="card card-peity">
                            <div class="card-peity-title">Temperatura</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                  <i id="arrow-temperature" class="mdi mdi-arrow-up-bold-circle meteo-arrow"></i>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="temperature" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[°C]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Wilgotność</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                  <i id="arrow-humidity" class="mdi mdi-arrow-up-bold-circle meteo-arrow"></i>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="humidity" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[%]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Ciśnienie</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                  <i id="arrow-pressure" class="mdi mdi-arrow-up-bold-circle meteo-arrow"></i>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="pressure" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[hPa]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Pył PM1</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                  <i id="arrow-dust_PM10" class="mdi mdi-arrow-up-bold-circle meteo-arrow"></i>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="dust_PM10" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[µg/m³]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Pył PM2.5</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                  <i id="arrow-dust_PM25" class="mdi mdi-arrow-up-bold-circle meteo-arrow"></i>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="dust_PM25" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[µg/m³]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-peity">
                            <div class="card-peity-title">Pył PM10</div>
                            <div class="card-peity-body">
                                <div class="card-peity-body-left">
                                  <i id="arrow-dust_PM100" class="mdi mdi-arrow-up-bold-circle meteo-arrow"></i>
                                </div>
                                <div class="card-peity-body-right">
                                    <div id="dust_PM100" class="card-peity-number">0</div>
                                    <div class="card-peity-unit">[µg/m³]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            {% include 'shared/footer.html' %}
        </div>
    </div>
</body>
</html>
