<!DOCTYPE html>
<html dir="ltr" lang="pl">

<head>
    {%  include 'shared/head.html' %}
</head>
<body>
    {#%  include 'shared/preloader.html' %#}
    <div id="main-wrapper">
        {% include 'shared/sidebar.html' %}
        <div id="page-wrapper">
            {% include 'shared/topbar.html' %}
            {% include 'shared/breadcrumb.html' %}
            <div id="page-container">
                <div class="card card-large" style="width: 900px;">
                    <div class="card-title">
                        <h3>Urządzenia</h3>
                    </div>
                    <div class="card-content" style="border-right: none; flex-direction: column">
                        <div style="display: flex; flex-flow: row nowrap; justify-content: space-between; width: 100%;">
                            <div class="panel" style="width: 180px; background: #2255A4;">
                                <a href="blinds/manage/5">
                                    <div class="panel-icon" style="padding-left: 7px"><i class="mdi mdi-inbox-arrow-up"></i></div>
                                    <div class="panel-title">{{ data_model['devices_names'].get(5) }}</div>
                                </a>
                            </div>
                            <div class="panel" style="width: 180px; background: #2255A4;">
                                <a href="blinds/manage/6">
                                    <div class="panel-icon" style="padding-left: 7px"><i class="mdi mdi-inbox-arrow-up"></i></div>
                                    <div class="panel-title">{{ data_model['devices_names'].get(6) }}</div>
                                </a>
                            </div>
                            <div class="panel" style="width: 180px; background: #F0954E;">
                                <a href="blinds/manage/7">
                                    <div class="panel-icon" style="padding-left: 7px"><i class="mdi mdi-inbox-arrow-up"></i></div>
                                    <div class="panel-title">{{ data_model['devices_names'].get(7) }}</div>
                                </a>
                            </div>
                            <div class="panel" style="width: 180px; background: #F0954E;">
                                <a href="blinds/manage/8">
                                    <div class="panel-icon" style="padding-left: 7px"><i class="mdi mdi-inbox-arrow-up"></i></div>
                                    <div class="panel-title">{{ data_model['devices_names'].get(8) }}</div>
                                </a>
                            </div>
                        </div>
                        <div style="display: flex; flex-flow: row nowrap; justify-content: space-between;  width: 100%;">
                            <div class="panel" style="width: 180px; background: #2255A4;">
                                <a href="blinds/manage/4">
                                    <div class="panel-icon" style="padding-left: 7px"><i class="mdi mdi-inbox-arrow-up"></i></div>
                                    <div class="panel-title">{{ data_model['devices_names'].get(4) }}</div>
                                </a>
                            </div>
                            <div class="panel" style="width: 180px; background: #F0954E;">
                                <a href="blinds/manage/9">
                                    <div class="panel-icon" style="padding-left: 7px"><i class="mdi mdi-inbox-arrow-down"></i></div>
                                    <div class="panel-title">{{ data_model['devices_names'].get(9) }}</div>
                                </a>
                            </div>
                        </div>
                        <div style="display: flex; flex-flow: row nowrap; justify-content: space-between; width: 100%;">
                            <div class="panel" style="width: 180px; background: #2255A4;">
                                <a href="blinds/manage/3">
                                    <div class="panel-icon" style="padding-left: 7px"><i class="mdi mdi-inbox-arrow-down"></i></div>
                                    <div class="panel-title">{{ data_model['devices_names'].get(3) }}</div>
                                </a>
                            </div>
                            <div class="panel" style="width: 180px; background: #2255A4;">
                                <a href="blinds/manage/2">
                                    <div class="panel-icon" style="padding-left: 7px"><i class="mdi mdi-inbox-arrow-down"></i></div>
                                    <div class="panel-title">{{ data_model['devices_names'].get(2) }}</div>
                                </a>
                            </div>
                            <div class="panel" style="width: 180px; background: #F0954E;">
                                <a href="blinds/manage/1">
                                    <div class="panel-icon" style="padding-left: 7px"><i class="mdi mdi-inbox-arrow-up"></i></div>
                                    <div class="panel-title">{{ data_model['devices_names'].get(1) }}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'shared/footer.html' %}
        </div>
    </div>
</body>
</html>
