<!DOCTYPE html>
<html dir="ltr" lang="pl">

<head>
    {%  include 'shared/head.html' %}
</head>
<body>
    <div id="main-wrapper">
        <div id="add-task" class="front-form">
             <div class="form-body card" >
                <form class="form" id="form-add-task">
                 <input type="hidden" name="devices-id" value="{{ data_model['devices'] }}">
                    <div class="form-group">
                        <div class="form-icon" style="background: #28B779"><i class="mdi mdi-timetable"></i></div>
                        <input type="text" autocomplete="off" class="form-control datetimepicker-input" id="datetimepicker5" name="datetime" data-toggle="datetimepicker" data-target="#datetimepicker5" placeholder="Wybierz datę i godzinę" required/>
                    </div>
                     <div class="form-group">
                         <div class="form-icon" style="background: #FFB848;"><i class="mdi mdi-clipboard-flow"></i></div>
                        <select class="form-control" style="height: 44px;" name="action" required>
                            <option value="" style="" disabled selected>Wybierz akcję</option>
                            {% for x in data_model['names'].actions %}
                                <option value="{{ x }}">{{ data_model['names'].actions.get(x) }}</option>
                            {% endfor %}
                        </select>
                    </div>

                 <hr class="form-line">
                    <div class="form-button-container">
                        <button type="submit" class="btn btn-primary form-button" onclick="">Dodaj zadanie</button>
                        <input type="button" value="Cofnij" class="btn btn-primary form-button" style="margin-top: 15px;" onclick="hide_front_form();">
                    </div>
                </form>
            </div>
        </div>
        <div id="add-schedule" class="front-form">
             <div class="form-body card" >
                <form class="form" id="form-add-schedule">
                 <input type="hidden" name="devices-id" value="{{ data_model['devices'] }}">
                     <div class="form-group">
                         <div class="form-icon" style="background: #FFB848;"><i class="mdi mdi-clipboard-flow"></i></div>
                        <select class="form-control" style="height: 44px;" name="action" required>
                            <option value="" style="" disabled selected>Wybierz akcję</option>
                            {% for x in data_model['names'].actions %}
                                <option value="{{ x }}">{{ data_model['names'].actions.get(x) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                         <div class="form-icon" style="background: #DA542E;"><i class="mdi mdi-weather-sunset"></i></div>
                        <select id="hour-type-combobox" class="form-control" style="height: 44px;" name="hour_type" required>
                            <option value="" style="" disabled selected>Wybierz porę dnia</option>
                            {% for x in data_model['names'].hour_types %}
                                <option value="{{ x }}">{{ data_model['names'].hour_types.get(x) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="form-icon" style="background: #28B779; min-width: 40px !important; max-width: 40px !important; width: 40px !important;"><i class="mdi mdi-clock"></i></div>
                        <div class="form-icon" id="change-sign" style="background: white; width: 48px; color: #3E5569; cursor: pointer;">+</div>
                        <input type="text" autocomplete="off" class="form-control datetimepicker-input" id="datetimepicker6" name="datetime" data-toggle="datetimepicker" data-target="#datetimepicker6" placeholder="Wybierz czas" required/>
                    </div>
                 <hr class="form-line">
                    <div class="form-button-container">
                        <button type="submit" class="btn btn-primary form-button" onclick="">Dodaj zadanie</button>
                        <input type="button" value="Cofnij" class="btn btn-primary form-button" style="margin-top: 15px;" onclick="hide_front_form();">
                    </div>
                </form>
            </div>
        </div>
        {#%  include 'shared/preloader.html' %#}
        {% include 'shared/sidebar.html' %}
        <div id="page-wrapper">
            {% include 'shared/topbar.html' %}
            {% include 'shared/breadcrumb.html' %}
            <div id="page-container">
                <div class="card card-large" style="width: 900px;">
                    <div class="card-title">
                        <h3>Zaplanowane zadania</h3>
                        <div id="task" class="button add-button" onclick="show_front_form('add-task');$('#datetimepicker5').datetimepicker('minDate', moment(moment().add(1, 'minutes').format('DD-MM-YYYY HH:mm'), 'DD-MM-YYYY HH::mm'));"><i class="mdi mdi-plus-circle-outline"></i></div>
                    </div>
                     <div class="card-content" style="border-right: none; flex-direction: column">
                     {% if data_model['user_tasks']|length > 0 %}
                         <table class="table table-striped">
                             <thead>
                             <tr>
                                 <th scope="col">#</th>
                                 {% if data_model['devices']|length > 1 %}
                                 <th scope="col">Urządzenie</th>
                                 {% endif %}
                                 <th scope="col">Akcja</th>
                                 <th scope="col">Czas</th>
                                 <th scope="col">Zleceniodawca</th>
                                 <th scope="col">Usuń</th>
                              </tr>
                             </thead>
                             <tbody>
                             {% for x in data_model['user_tasks'] %}
                             <tr>
                                 <th scope="row">{{ loop.index }}</th>
                                 {% if data_model['devices']|length > 1 %}
                                 <td>{{ data_model['names'].devices.get(x.device) }}</td>
                                 {% endif %}
                                 <td>{{ data_model['names'].actions.get(x.action) }}</td>
                                 <td class="choose-time">{{ x.time }}</td>
                                 <td>{{ x.user }}</td>
                                 <td style="padding: auto;"><div id="task" class="button delete-button" onclick="delete_task({{ x.task_id }})"><i class="mdi mdi-minus-circle-outline"></i></div></td>
                             </tr>
                         {% endfor %}
                             </tbody>
                         </table>
                     {% endif %}
                     </div>
                 </div>
                <div class="card card-large" style="width: 900px; margin-top: 100px;">
                    <div class="card-title">
                        <h3>Harmonogram</h3>
                        <div id="task" class="button add-button" onclick="show_front_form('add-schedule');"><i class="mdi mdi-plus-circle-outline"></i></div>
                    </div>
                     <div class="card-content" style="border-right: none; flex-direction: column">
                     {% if data_model['schedule']|length > 0 %}
                         <table class="table table-striped">
                             <thead>
                             <tr>
                                 <th scope="col">#</th>
                                 {% if data_model['devices']|length > 1 %}
                                 <th scope="col">Urządzenie</th>
                                 {% endif %}
                                 <th scope="col">Akcja</th>
                                 <th scope="col">Pora dnia</th>
                                 <th scope="col">Czas</th>
                                 <th scope="col">Zleceniodawca</th>
                                 <th scope="col">Usuń</th>
                              </tr>
                             </thead>
                             <tbody>
                             {% for x in data_model['schedule'] %}
                             <tr>
                                 <th scope="row">{{ loop.index }}</th>
                                 {% if data_model['devices']|length > 1 %}
                                 <td>{{ data_model['names'].devices.get(x.device) }}</td>
                                 {% endif %}
                                 <td>{{ data_model['names'].actions.get(x.action) }}</td>
                                 <td>{{ data_model['names'].hour_types.get(x.hour_type) }}</td>
                                 <td>{{ x.time_offset_sign + x.time_offset }} h</td>
                                 <td>{{ x.user }}</td>
                                 <td style="padding: auto;"><div id="task" class="button delete-button" onclick="delete_schedule({{ x.id }})"><i class="mdi mdi-minus-circle-outline"></i></div></td>
                             </tr>
                         {% endfor %}
                             </tbody>
                         </table>
                     {% endif %}
                     </div>
                 </div>
            </div>
            {#% include 'shared/footer.html' %#}
        </div>
    </div>


    <script src="/static/assets/libs/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/libs/popper/umd/popper.min.js"></script>
    <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/assets/libs/DataTables/datatables.min.js"></script>
    <script src="/static/assets/libs/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/moment/moment-with-locales.js"></script>
    <script type="text/javascript" src="/static/assets/libs/datatimepicker/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/static/js/start.js"></script>
    <script src="/static/js/pages/blinds/manage_blinds.js"></script>
</body>
</html>
