<!DOCTYPE html>
<html dir="ltr" lang="pl">

<head>
    {%  include 'shared/head.html' %}
</head>
<body>
    {#%  include 'shared/preloader.html' %#}
    <div id="main-wrapper">
        {% include 'shared/sidebar.html' %}
        <div id="page-wrapper">
            {% include 'shared/topbar.html' %}
            {% include 'shared/breadcrumb.html' %}
            <div id="page-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-large">
                            <div class="card-title">
                                <h3>Moc chwilowa</h3>
                                <h4>W przeciągu ostatnich 24 godzin</h4>
                            </div>
                            <div class="card-content">
                                <canvas id="power-today-chart" height="500px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                    <div class="card card-small">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <div class="card-content">
                                    <canvas id="productionPowerChart">{{ model['current_power'] }}/4000</canvas>
                                    <span><b>{% print((model['current_power']/40)|int) %} %</b></span>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-title">
                                    <h3>{{ model['current_power'] }} W</h3>
                                    <h4>Bieżąca produkcja</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="card card-small">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <div class="card-content">
                                    <canvas id="productionPowerChart3">{{ model['max_power'] }}/4000</canvas>
                                    <span><b>{% print((model['max_power']/40)|int) %} %</b></span>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-title">
                                    <h3>{{ model['max_power'] }} W</h3>
                                    <h4>Moc maksymalna</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="card card-small">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <div class="card-content">
                                    <canvas id="productionPowerChart4">{{ (model['energy'][-1] * 1000) / 24  }}/4000</canvas>
                                    <span><b>{% print((((model['energy'][-1] * 1000) / 24)/40)|int) %} %</b></span>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-title">
                                    <h3>{{ ((model['energy'][-1] * 1000) / 24)|int  }} W</h3>
                                    <h4>Średnia moc</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="card card-small">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <div class="card-content">
                                    <canvas id="productionPowerChart2">{% for e in model['energy'][:-1] %}{{ e }}, {% endfor %}{{ model['energy'][-1] }}</canvas>
                                    <span><b>{{ '{0:+} %'.format(((((model['energy'][-1] / model['energy'][-2])) - 1) * 100)|int)}}</b></span>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-title">
                                    <h3>{{ model['energy'][-1] }} kWh</h3>
                                    <h4>Energia dzisiaj</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            {#% include 'shared/footer.html' %#}
        </div>
    </div>


    <script type="text/javascript" src="/static/assets/libs/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/popper/umd/popper.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/Chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/jquery.peity/jquery.peity.min.js"></script>
    <script type="text/javascript" src="/static/js/start.js"></script>
    <script type="text/javascript" src="/static/js/pages/energy/energy-charts.js"></script>
    <script type="text/javascript">
        genChart({{ model['chart_data']|safe }});
    </script>

</body>
</html>